<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <style>
        #app {
            text-align: center;
            /*background-image: url("http://pic.qiantucdn.com/58pic/18/89/98/51Q58PICSu5cJGXX244M2_PIC2018.jpg");*/
            background-color: #8e6bff;
            width: 100px;
            height: 20px;
        }
    </style>
</head>
<body>
<div id="app" style="color:#123456"> 你好,尤贺雨。</div>
<a href="/logout">退出</a>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    // $.get("http://localhost:8085/", function (res) {
    //     $("#app").text("569236")
    // })
</script>
</html>